@model CTMF_Website.Models.EditTransaction
@{
	ViewBag.Title = "EditTransaction";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/CSS/table.css" rel="stylesheet" />

@{
	List<SelectListItem> items = (List<SelectListItem>)ViewData["TransType"];
}

<div class="container container-fix">

	@using (Html.BeginForm("EditTransaction", "Transaction", FormMethod.Post, new { @class = "form-horizontal" }))
	{
		<fieldset>
			<legend class="table-title">Chỉnh sửa giao dịch</legend>
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true)

			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.Username, new { @class = "control-label col-md-4" })
				<div class="col-sm-5">
					@Html.DisplayFor(m => m.Username)
					@Html.HiddenFor(m => m.Username)
				</div>
			</div>

			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.TransactionTypeID, new { @class = "control-label col-md-4" })
				<div class="col-md-3">
					@Html.DropDownListFor(m => m.TransactionTypeID, new SelectList(items, "Value", "Text", Model.TransactionTypeID), new { @class = "form-control" })
				</div>
			</div>

			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.Value, new { @class = "control-label col-md-4" })
				<div class="col-md-4">
					@Html.TextBoxFor(m => m.Value, new { @class = "form-control" })
				</div>
			</div>

			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.TransactionContent, new { @class = "control-label col-md-4" })
				<div class="col-md-4">
					@Html.TextBoxFor(m => m.TransactionContent, new { @class = "form-control" })
				</div>
			</div>

			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.InsertedDate, new { @class = "control-label col-md-4" })
				<div class="col-md-4">
					@Html.TextBoxFor(m => m.InsertedDate, new { @class = "form-control" })
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-2">
					<input type="submit" class="btn btn-primary" value="Cập nhật">
				</div>
				<div class="col-sm-2">
					<a href="~/Transaction/ListTransaction" class="btn btn-danger">Hủy</a>
				</div>
			</div>
		</fieldset>
	}
</div>
