@model System.Data.DataTable
@{
	ViewBag.Title = "ListTransaction";

	int maxPage = ViewBag.maxPage;
	int curPage = ViewBag.curPage;
	int amountPerPage = ViewBag.amountPerPage;

}

<link href="~/CSS/table.css" rel="stylesheet" />
<link rel="stylesheet" href="~/CSS/jquery-ui.css" />
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/datepicker-vi-VN.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		var maxPage = '@(maxPage)';
		maxPage = parseInt(maxPage);
		var curPage = '@(Request.QueryString["page"])';

		for (i = 1; i <= maxPage; i++) {
			if (curPage == i) {
				$('#ddlPageSelect').append($('<option></option>').attr({ 'value': i, 'selected': 'selected' }).text(i));
			} else {
				$('#ddlPageSelect').append($('<option></option>').attr('value', i).text(i));
			}
		}

		$('#txtDate').datepicker({
			"option": $.datepicker.regional['vn-VN'],
			changeMonth: true,
			changeYear: true
		});

		$('#btnGo').click(function () {
			var page = $('#ddlPageSelect').val();

			var selectedPage = getParameterByName('page');
			var curHref = window.location.href;

			if (selectedPage == '') {
				curHref += '&page=' + page;
			}
			else {
				curHref = curHref.replace('&page=' + selectedPage, '&page=' + page);
			}

			window.location.href = curHref;
		});
	});

	function getParameterByName(name) {
		name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
			results = regex.exec(location.search);
		return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}
</script>
<div class="container container-fix">
	<fieldset>
		<legend class="table-title">Danh sách giao dịch</legend>
		<div>
			<div class="table-body">
				<div class="row" style="margin-bottom:20px;">
					<div class="col-md-1">
						<a href="#" class="btn btn-success">Rút tiền</a>
					</div>
					<div class="col-md-2">
						<a href="~/Transaction/RechargeMoney" class="btn btn-primary">Nạp tiền</a>
					</div>
					@using (Html.BeginForm("ListTransaction", "Transaction", FormMethod.Get))
					{
						<div>
							<input type="hidden" name="amountPerPage" value="@Request.QueryString["amountPerPage"]" />
						</div>

						<div class="col-md-3">
							<input type="text" class="form-control" name="username" placeholder="Tên đăng nhập" value="@Request.QueryString["username"]">
						</div>

						<div class="col-md-3">
							<select class="form-control" id="ddlTransactionType" name="transactionType">
								<option value="0">Tất cả</option>
								@foreach (KeyValuePair<int, string> entity in (List<KeyValuePair<int, string>>)ViewBag.transactionTypes)
								{
									if (entity.Key.ToString() == Request.QueryString["transactionType"])
									{
										<option value="@entity.Key" selected>@entity.Value</option>
									}
									else
									{
										<option value="@entity.Key">@entity.Value</option>
									}
								}
							</select>
						</div>

						<div class="col-md-2">
							<input type="text" class="form-control" name="date" placeholder="Ngày" id="txtDate" value="@Request.QueryString["date"]">
						</div>

						<div class="col-md-1">
							<button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
						</div>
					}
				</div>
				<table class="table table-bordered table-hover table-condensed">
					<thead>
						<tr>
							<th>STT</th>
							<th>Tên đăng nhập</th>
							<th>Loại giao dịch</th>
							<th>Giá trị giao dịch</th>
							<th>Ngày giao dịch</th>
							<th>Quản lý</th>
						</tr>
					</thead>
					<tbody>
						@{
							string page = Request.QueryString["page"];
							string nextUrl, prevUrl;
							if (String.IsNullOrWhiteSpace(page))
							{
								nextUrl = Request.Url.ToString() + "&page=2";
								prevUrl = "#";
							}
							else
							{
								int page_;
								if (!int.TryParse(page, out page_))
								{
									nextUrl = Request.Url.ToString() + "&page=2";
									prevUrl = "#";
								}
								else
								{
									nextUrl = Request.Url.ToString().Replace("&page=" + page, "&page=" + (page_ + 1));
									prevUrl = Request.Url.ToString().Replace("&page=" + page, "&page=" + (page_ - 1));
								}
							}
						}
						@foreach (System.Data.DataRow row in Model.Rows)
						{
							string date = ((DateTime)row["InsertedDate"]).ToString("dd/MM/yyyy");
							<tr>
								<td>@row["RowNum"]</td>
								<td>@row["Username"]</td>
								<td>@row["Name"]</td>
								<td>@row["Value"]</td>
								<td>@date</td>
								<td>
									<div>
										<a href="@Url.Action("DetailTransaction", "Transaction", new { TransID = @row["TransactionHistoryID"] })" class="btn btn-info" title="Chi tiết"><span class="glyphicon glyphicon-info-sign"></span></a>
										<a href="@Url.Action("EditTransaction", "Transaction", new {TransID = @row["TransactionHistoryID"] })" class="btn btn-primary" title="Sửa"><span class="glyphicon glyphicon-pencil"></span></a>
										<button class="btn btn-danger" title="Xóa"><span class="glyphicon glyphicon-remove-sign"></span></button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div id="footer">
				<div>
					<nav>
						<ul class="pager">
							@if (curPage != 1)
							{
								<li><a href="@prevUrl">Trước</a></li>
							}
							@if (curPage != maxPage)
							{
								<li><a href="@nextUrl">Sau</a></li>
							}
						</ul>
					</nav>
				</div>
				<div>
					Đi đến trang :
					<select id="ddlPageSelect"></select>
					/ @maxPage
					<a class="btn btn-primary" id="btnGo">Đi</a>
				</div>
			</div>
		</div>
	</fieldset>
</div>