@using CTMF_Website.Util

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/CSS/app.css" />
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-1.9.1.js"></script>
	<script src="~/Scripts/jquery-1.9.1.min.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".dropdown-toggle").dropdown();
		});

		$(function () {
			$(".dropdown").hover(
					function () {
						$('.dropdown-menu', this).stop(true, true).fadeIn("fast");
						$(this).toggleClass('open');
					},
					function () {
						$('.dropdown-menu', this).stop(true, true).fadeOut("fast");
						$(this).toggleClass('open');
					});
		});
	</script>
</head>
@{
	string username = AccountInfo.GetUserName(Request);
	string role = AccountInfo.GetUserRole(Request);
	string title = ViewBag.Title;
}
<body>
	<header>
		<nav class="menu">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="@Url.Action("HomePage", "Home")" class="navbar-brand">Cafeteria</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					@if (title.Equals("HomePage"))
					{
						<div class="sub-menu nav navbar-nav">
							<ul class="nav navbar-nav">
								<li>
									<a href="#about">Giới thiệu</a>
								</li>
								<li>
									<a href="#team">Nhóm</a>
								</li>
								<li>
									<a href="#product">Sản Phẩm</a>
								</li>
							</ul>
						</div>
					}
					<div class="nav navbar-nav navbar-right">
						@if (Request.IsAuthenticated)
						{
							<div class="dropdown">
								<button id="btn-user-info" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									@username
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										<a href="@Url.Action("UserInfo", "Account")" class="btn btn-link">Thông tin cá nhân</a>
									</li>
									<li>
										<a href="@Url.Action("TransactionHistory", "Transaction")" class="btn btn-link">Lịch sử giao dịch</a>
									</li>
									<li>
										@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
										{
											@Html.AntiForgeryToken()
											@*<a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>*@
											<input type="submit" class="btn btn-link" value="Đăng xuất" />
										}
									</li>
								</ul>
							</div>
						}
						else
						{
							@Html.Partial("_LoginPartial", new CTMF_Website.Models.LoginViewModel())
						}
					</div>
				</div>
			</div>
		</nav>
	</header>
	<nav class="main-menu">
		<ul>
			<li>
				<a href="@Url.Action("HomePage", "Home")">
					<i class="fa fa-home fa-2x"><span class="glyphicon glyphicon-home"></span></i>
					<span class="nav-text">
						Trang chủ
					</span>
				</a>
			</li>
			<li class="has-subnav">
				<a href="@Url.Action("ViewDish", "Dish")">
					<i class="fa fa-laptop fa-2x"><span class="glyphicon glyphicon-th-list"></span></i>
					<span class="nav-text">
						Danh sách món ăn
					</span>
				</a>
			</li>
			@if (Request.IsAuthenticated)
			{
				<li class="has-subnav">
					<a href="@Url.Action("Schedule", "Schedule")">
						<i class="fa fa-list fa-2x"><span class="glyphicon glyphicon-calendar"></span></i>
						<span class="nav-text">
							Biểu lịch
						</span>
					</a>
				</li>
			}
			<li class="has-subnav">
				<a href="@Url.Action("ViewAnnounce", "Announce")">
					<i class="fa fa-folder-open fa-2x"><span class="glyphicon glyphicon-bullhorn"></span></i>
					<span class="nav-text">
						Tin tức
					</span>
				</a>
			</li>
			@if (Request.IsAuthenticated && role.Equals("4"))
			{
				<li class="has-subnav">
					<a href="@Url.Action("ListUser", "Account")">
						<i class="fa fa-list fa-2x"><span class="glyphicon glyphicon-user"></span></i>
						<span class="nav-text">
							Quản lý người dùng
						</span>
					</a>
				</li>
			}
			@if (Request.IsAuthenticated && role.Equals("3"))
			{
				<li class=" dropdown has-subnav">
					<a style="cursor: pointer">
						<i class="fa fa-list fa-2x"><span class="glyphicon glyphicon-list-alt"></span></i>
						<span class="nav-text">
							Quản lý
							<span class="caret"></span>
						</span>
					</a>
					<div class="dropdown-menu" style="border-radius: 0">
						<ul>
							<li>
								<a href="@Url.Action("ListDish", "Dish")">
									<i class="fa fa-list fa-2x"></i>
									<span class="nav-text">
										Quản lý món ăn
									</span>
								</a>
							</li>
							<li>
								<a href="@Url.Action("ListMealSet", "MealSet")">
									<i class="fa fa-list fa-2x"></i>
									<span class="nav-text">
										Quản lý suất ăn
									</span>
								</a>
							</li>
							<li>
								<a href="@Url.Action("ListSchedule", "Schedule")">
									<i class="fa fa-list fa-2x"></i>
									<span class="nav-text">
										Quản lý biểu lịch
									</span>
								</a>
							</li>
							<li>
								<a href="@Url.Action("ViewServingTime", "Schedule")">
									<i class="fa fa-list fa-2x"></i>
									<span class="nav-text">
										Thời gian phục vụ
									</span>
								</a>
							</li>
							<li>
								<a href="@Url.Action("ViewAnnounce", "Announce")">
									<i class="fa fa-list fa-2x"></i>
									<span class="nav-text">
										Quản lý tin tức
									</span>
								</a>
							</li>
							<li>
								<a href="@Url.Action("ListTransaction", "Transaction")">
									<i class="fa fa-list fa-2x"></i>
									<span class="nav-text">
										Quản lý giao dịch
									</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
			}
		</ul>
	</nav>
	@RenderBody()
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-inline">
						<li>
							<a href="@Url.Action("HomePage", "Home")">Trang chủ</a>
						</li>
						<li class="footer-menu-divider">&sdot;</li>
						<li>
							<a href="#about">Giới thiệu</a>
						</li>
						<li class="footer-menu-divider">&sdot;</li>
						<li>
							<a href="#team">Nhóm</a>
						</li>
						<li class="footer-menu-divider">&sdot;</li>
						<li>
							<a href="#product">Sản Phẩm</a>
						</li>
					</ul>
					<p class="copyright text-muted small">&copy; Nhóm phát triển CTMF</p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
