<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/CSS/app.css" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<div id="header">
			<div id="top-header" style="background-color: #9E1325; ">
				<div class="container">
					<div>
						<a class="navbar-brand" href=""><img class="logo-com" src="" alt="logo"></a>
					</div>
					<div class="pull-right">
						<button id="btn-login" class="btn btn-default" data-toggle="modal" data-target="#login"> <span class="glyphicon glyphicon-log-in"></span> Đăng nhập</button>
						<button id="btn-signup" class="btn btn-default"> <span class="glyphicon glyphicon-user"></span> Đăng ký</button>
						<div id="login" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width:400px">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title" style="text-align: center; font-weight: bold; font-size: 1.4em; text-transform: uppercase; color: #B00622">Đăng Nhập</h4>
									</div>
									<div class="modal-body">
										<form method="post" role="form">
											<div style="width:300px;margin:0px auto">
												<div class="row" style="margin-bottom:10px">
													<div>
														<label>Tên đăng nhập:</label>
													</div>
													<div>
														<input class="form-control input-md" id="lg_login_name" name="lg_login_name" placeholder="Tên đăng nhập" type="text">
													</div>
												</div>
												<div class="row" style="margin-bottom:10px">
													<div>
														<label>Mật khẩu:</label>
													</div>
													<div>
														<input id="lg_password" name="lg_password" class="form-control input-md" placeholder="Mật khẩu" autocomplete="off" type="password">
													</div>
												</div>
												<div class="row" style="margin-bottom:10px">
													<div class="col-sm-6">
														<label><input type="checkbox"> Nhớ tài khoản</label>
													</div>
													<div class="col-sm-6 radio-right">
														<p>
															<a href="" title="Quên mật khẩu">Quên mật khẩu</a>
														</p>
													</div>
												</div>
												<div class="row">
													<input class="btn btn-primary" value="Đăng nhập" type="submit">
													<button type="button" class="btn btn-danger">Google+</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav id="main-navbar" class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="MainNavbar">
						<ul id="main-menu" class="nav navbar-nav">
							<li>
								@Html.ActionLink("Trang chủ", "HomePage", "Home")
							</li>
							<li>
								<a>Giới thiệu</a>
							</li>
							<li>
								@Html.ActionLink("Thực đơn", "ViewDish", "Dish")
							</li>
							<li>
								<a>Biểu lịch</a>
							</li>
							<li>
								<a>Tin tức</a>
								@Html.ActionLink("Tin tức", "ViewAnnounce", "Announce")
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>

	@RenderBody()

	<footer class="text-center">
		<p>FPT University Cafeteria</p>
	</footer>

</body>
</html>
