@model CTMF_Website.Models.LoginViewModel
<script src="~/Scripts/md5.js"></script>
<script>
	function GeneratePwdLogin() {
		if ($("#id_login_password").val() !== "") {
			$("#id_login_password").val(hex_md5($("#id_login_password").val()));
		}
		return true;
	}
</script>

<a href="@Url.Action("Register", "Account")" id="signup" class="btn btn-default"> <span class="glyphicon glyphicon-user"></span> Đăng ký</a>
<button id="signin" class="btn btn-default" data-toggle="modal" data-target="#login"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</button>

<div id="login" class="modal fade" role="dialog">
	<div class="modal-dialog" style="width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" style="text-align: center; font-weight: bold; font-size: 1.4em; text-transform: uppercase; color: #B00622">Đăng Nhập</h4>
			</div>
			<div class="modal-body">
				@using (Html.BeginForm("Login", "Account", FormMethod.Post))
				{
					@*<form onsubmit="return GeneratePwdLogin()" role="form" method="post" action="/Account/Login">*@
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(true, String.Empty, new { @style = "color:red" })
					<div style="width:300px;margin:0px auto">
						<div class="row" style="margin-bottom:10px">
							<div>
								@Html.LabelFor(m => m.Username)
							</div>
							<div>
								@Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
							</div>
							<div>
								@Html.ValidationMessageFor(m => m.Username, String.Empty, new { @style = "color:red" })
							</div>
						</div>
						<div class="row" style="margin-bottom:10px">
							<div>
								@Html.LabelFor(m => m.Password)
							</div>
							<div>
								@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu", @id = "id_login_password" })
							</div>
							<div>
								@Html.ValidationMessageFor(m => m.Password, String.Empty, new { @style = "color:red" })
							</div>
						</div>
						<div class="row" style="margin-bottom:10px">
							<div class="col-sm-6">
								@Html.CheckBoxFor(m => m.Remember)
								@Html.LabelFor(m => m.Remember)
							</div>
						</div>
						<div class="row">
							<input class="btn btn-primary" value="Đăng nhập" type="submit">
						</div>
					</div>
					@*</form>*@
				}
			</div>
		</div>
	</div>
</div>