@model CTMF_Website.Models.MealSetDishModel
@if (!string.IsNullOrEmpty(Model.Dishname))
{
	<tr>
		<td>
			@Model.Dishname
		</td>
		<td>
			@Ajax.ActionLink("Xóa", "Remove",
							new { mealSetID = @Model.MealSetID, dishID = @Model.DishID },
							new AjaxOptions
										{
											HttpMethod = "GET",
											UpdateTargetId = "mealset-dish",
											InsertionMode = InsertionMode.InsertAfter
										},
							new { @class = "btn btn-link remove-meal-set-dish", @id = "remove-meal-set-dish", @value = @Model.Dishname })
		</td>
	</tr>
}