@model CTMF_Website.Models.MealSetViewModel
@{
	ViewBag.Title = "AddMealSet";
}

@{
	string checkRunTimes = ViewBag.CheckRunTimes;

	string addMeslSet = "";

	try
	{
		addMeslSet = Session["addMeslSet"].ToString();
		Session.Remove("addMeslSet");
	}
	catch (Exception ex)
	{
		addMeslSet = "";
	}
}
<link href="~/Content/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Scripts/jquery.ui.widget.js"></script>
<script src="~/Scripts/jquery.fileupload.js"></script>

<script>
	var message = '@Html.Raw(addMeslSet)';
	if (message != '') {
		alert(message);
	}

	$(document).ready(function () {
		$('#file-upload').fileupload({
			dataType: 'json',
			url: '@Url.Action("UploadImage", "MealSet")',
			autoUpload: true,
			done: function (e, data) {
				document.getElementById("mealset-img").src = ".." + data.result.fileName;
				$('#pathImage').val(data.result.fileName);
			}
		});
	});
</script>

<div class="container container-fix" style="width: 75% !important">
	@using (Html.BeginForm("AddMealSet", "MealSet", FormMethod.Post, new { @class = "form-horizontal" }))
	{
		<fieldset>
			<legend class="title">Thêm món ăn mới</legend>
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, String.Empty, new { @style = "color:red" })
			<div class="form-group">
				<div class="col-md-4">

				</div>
				<div class="col-md-4">
					@if (checkRunTimes == "1")
					{
						<img id="mealset-img" style="width:300px;" />
					}
					else
					{
						if (!string.IsNullOrEmpty(Model.Image))
						{
							<img id="mealset-img" src="..@Model.Image" style="width:300px;" />
						}
						else
						{
							<img id="mealset-img" style="width:300px;" />
						}
					}
				</div>
			</div>
			<div class="form-group" style="margin-top: 20px">
				@Html.HiddenFor(m => m.Image, new { id = "pathImage" })
				@Html.LabelFor(m => m.Image, new { @class = "control-label col-md-4" })
				<div class="col-sm-5">
					<span class="btn btn-success fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>Chọn ảnh</span>
						<input id="file-upload" type="file" name="files" />
					</span>
				</div>
			</div>
			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.MealSetName, new { @class = "control-label col-md-4" })
				<div class="col-md-4">
					@Html.TextBoxFor(m => m.MealSetName, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-4">

				</div>
				<div class="col-md-4">@Html.ValidationMessageFor(model => model.MealSetName, String.Empty, new { @style = "color:red" })</div>
			</div>
			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.Description, new { @class = "control-label col-md-4" })
				<div class="col-md-6">
					@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group" style="margin-top: 20px">
				<div class="control-label col-md-4">
					@Html.LabelFor(m => m.CanEatMore)
				</div>
				<div class="col-sm-1">
					@Html.CheckBoxFor(m => m.CanEatMore, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-3">
					<input type="submit" class="btn btn-primary" value="Thêm suất ăn">
				</div>
				<div class="col-md-2">
					<a href="~/MealSet/ListMealSet" class="btn btn-danger">Hủy</a>
				</div>
			</div>
		</fieldset>
	}
</div>
