@model CTMF_Website.Models.MealSetViewModel
@{
	ViewBag.Title = "AddMealSet";
}

@{
	string checkRunTimes = ViewBag.CheckRunTimes;
}
<link href="~/Content/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Scripts/jquery.ui.widget.js"></script>
<script src="~/Scripts/jquery.fileupload.js"></script>
<style>
</style>
<script>
	$(document).ready(function () {
		$('#file-upload').fileupload({
			dataType: 'json',
			url: '/MealSet/UploadImage',
			autoUpload: true,
			done: function (e, data) {
				document.getElementById("mealset-img").src = ".." + data.result.fileName;
				$('#pathImage').val(data.result.fileName);
			}
		});
	});
</script>

<div class="addForm">
	<legend class="title">Thêm món ăn mới</legend>
	<div class="container">
		@using (Html.BeginForm("AddMealSet", "MealSet", FormMethod.Post, new { @class = "form-horizontal" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true)
			<div class="form-group">
				<div class="col-sm-2">

				</div>
				<div class="col-sm-5">
					@if (checkRunTimes == "1")
					{
						<img id="mealset-img" style="width:200px;" />
					}
					else
					{
						if (!string.IsNullOrEmpty(Model.Image))
						{
							<img id="mealset-img" src="..@Model.Image" style="width:200px;" />
						}
						else
						{
							<img id="mealset-img" style="width:200px;" />
						}
					}
				</div>
			</div>
			<div class="form-group" style="margin-top: 20px">
				@Html.HiddenFor(m => m.Image, new { id = "pathImage" })
				@Html.LabelFor(m => m.Image, new { @class = "control-label col-sm-2" })
				<div class="col-sm-5">
					<span class="btn btn-success fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>Chọn ảnh</span>
						<input id="file-upload" type="file" name="files" />
					</span>
				</div>
			</div>
			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.MealSetName, new { @class = "control-label col-sm-2" })
				<div class="col-sm-5">
					@Html.TextBoxFor(m => m.MealSetName, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2">

				</div>
				<div class="col-sm-5">@Html.ValidationMessageFor(model => model.MealSetName, String.Empty, new { @style = "color:red" })</div>
			</div>
			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-2" })
				<div class="col-sm-5">
					@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group" style="margin-top: 20px">
				<div class="control-label col-sm-2">
					@Html.LabelFor(m => m.CanEatMore)
				</div>
				<div class="col-sm-5">
					@Html.CheckBoxFor(m => m.CanEatMore, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<input type="submit" class="btn btn-primary" value="Thêm món">
				</div>
				<div class="col-sm-2">
					<a href="~/MealSet/ListMealSet" class="btn btn-danger">Hủy</a>
				</div>
			</div>
		}
	</div>
</div>
