@model CTMF_Website.Models.EditMealSetModel

@{
	ViewBag.Title = "AddMealSetDish";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	System.Data.DataTable listDish = ViewData["listDish"] as System.Data.DataTable;
	System.Data.DataTable listMealSetDish = ViewData["listMealSetDish"] as System.Data.DataTable;
	List<SelectListItem> items = ViewData["DishType"] as List<SelectListItem>;


	//string max = (string)(Session["maxMealsetDish"]);
	//string exist = (string)(Session["existMealsetDish"]);

	//Session.Remove("maxMealsetDish");
	//Session.Remove("existMealsetDish");
}

<script src="~/Scripts/ekko-lightbox.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


<script>
	$(document).ready(function () {
		setRemoveEvent();
		check();

		var notExist = '@(ViewBag.notExistMealSet)';
		if (notExist != '') {
			alert('@Html.Raw(ViewBag.notExistMealSet)');
		}
	});

	function setRemoveEvent() {
		$('.remove-meal-set-dish').unbind();
		$('.remove-meal-set-dish').click(function () {
			var r = confirm('Bạn có muốn xóa món ăn ' + $(this).attr('value') + ' ?');
			if (r == true) {
				$(this).parent().parent().remove();
			}
		});
	}

	function check() {
		var maxMessage = '@Html.Raw((string)(Session["maxMealsetDish"]))';
		var existMessage = '@Html.Raw((string)(Session["existMealsetDish"]))';
		if (maxMessage != '') {
			alert(maxMessage);
		}
		if (existMessage != '') {
			alert(existMessage);
		}
	}

	$(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
		event.preventDefault();
		$(this).ekkoLightbox();
	});
</script>
<div class="container" style="width: 85% !important">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-footer">
					<h4>@Model.MealSetName</h4>
				</div>
				<div class="panel-body">
					@if (string.IsNullOrEmpty(Model.Image.ToString()))
					{
						<a href="~/Images/no-image.jpg" class="zoom" data-title="@Model.MealSetName" data-footer="@Model.Description" data-type="image" data-toggle="lightbox">
							<img src="~/Images/no-image.jpg" />
						</a>
					}
					else
					{
						<a href="..@Model.Image" class="zoom" data-title="@Model.MealSetName" data-footer="@Model.Description" data-type="image" data-toggle="lightbox">
							<img src="..@Model.Image" />
						</a>
					}
				</div>
				<div class="panel-footer">
					<table class="table .table-condensed">
						<tbody id="mealset-dish">
							@foreach (System.Data.DataRow row in listMealSetDish.Rows)
							{
								<tr class="info">
									<td>
										@row["DishName"]
									</td>
									<td>
										@Ajax.ActionLink("Xóa", "Remove",
									new { mealSetID = @Model.MealSetID, dishID = @row["DishID"] },
									new AjaxOptions
										{
											HttpMethod = "GET",
											UpdateTargetId = "mealset-dish",
											InsertionMode = InsertionMode.InsertAfter
										},
									new { @class = "btn btn-link remove-meal-set-dish", @id = "remove-meal-set-dish", @value = @row["DishName"] })
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
			<a href="@Url.Action("ListMealSet","MealSet")" class="btn btn-warning" style="margin-bottom: 20px;"><span class="glyphicon glyphicon-arrow-left"></span> Quay Lại</a>
		</div>

		<div class="col-md-8">
			@using (Html.BeginForm("AddMealSetDish", "MealSet", FormMethod.Get))
			{
				@Html.HiddenFor(m => m.MealSetID)
				<table style="margin-bottom: 10px;">
					<tr>
						<td>
							<div id="custom-search-input">
								<div class="input-group">
									<input type="text" name="search" class="search-query form-control" placeholder="Nhập từ khóa..." />
									<span class="input-group-btn">
										<button class="btn btn-danger" type="submit">
											<span class=" glyphicon glyphicon-search"></span>
										</button>
									</span>
								</div>
							</div>
						</td>
						<td>
							@Html.DropDownList("filter", new SelectList(items, "Value", "Text"), new { @class = "form-control" })
						</td>
					</tr>
				</table>
			}
			<div class="row">
				@foreach (System.Data.DataRow row in listDish.Rows)
				{
					<div class="col-sm-4">
						<div class="panel panel-default">
							<div class="panel-footer">
								<h4>@row["Name"]</h4>
							</div>
							<div class="panel-body" style="height:150px;">
								@if (string.IsNullOrEmpty(row["Image"].ToString()))
								{
									<a href="~/Images/no-image.jpg" class="zoom" data-title="@row["Name"]" data-footer="@row["Description"]" data-type="image" data-toggle="lightbox">
										<img src="~/Images/no-image.jpg" style="height:150px;" />
									</a>
								}
								else
								{
									<a href="..@row["Image"]" class="zoom" data-title="@row["Name"]" data-footer="@row["Description"]" data-type="image" data-toggle="lightbox">
										<img src="..@row["Image"]" style="height:150px;" />
									</a>
								}
							</div>
							<div class="panel-footer">
								@Ajax.ActionLink("Thêm", "Add",
					new { mealSetID = @Model.MealSetID, dishID = @row["DishID"] },
					new AjaxOptions
						{
							HttpMethod = "GET",
							UpdateTargetId = "mealset-dish",
							InsertionMode = InsertionMode.InsertAfter,
							OnSuccess = "setRemoveEvent(); check();"
						},
					new { @class = "btn", @id = "add-mealSet-Dish" })
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
