@model System.Data.DataTable

@{
	ViewBag.Title = "ListMealSet";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/CSS/table.css" rel="stylesheet" />

@{
	List<SelectListItem> items = new List<SelectListItem>();

	items.Add(new SelectListItem { Text = "Tất Cả", Value = "" });
	items.Add(new SelectListItem { Text = "Có ăn thêm", Value = "1" });
	items.Add(new SelectListItem { Text = "Không ăn thêm", Value = "0" });

}

<script>
	$(document).ready(function () {
		var notExist = '@Html.Raw(ViewBag.notExistMealSet)';
		if (notExist != '') {
			alert(notExist);
		}

		var successMessage = '@Html.Raw(ViewBag.successMessage)';
		if (successMessage != '') {
			alert(successMessage);
		}
	});
</script>

<div class="container container-fix">
	<fieldset>
		<legend class="title">Quản lý suất ăn</legend>
		<div>
			<div class="table-body">
				<div class="row" style="margin-bottom:20px;">
					<div class="col-md-3">
						<a href="~/MealSet/AddMealSet" class="btn btn-primary">Thêm suất ăn mới</a>
					</div>

					<div class="col-md-3">

					</div>


					@using (Html.BeginForm("ListMealSet", "MealSet", FormMethod.Get))
					{
						<div class="col-md-3">
							<div id="custom-search-input">
								<div class="input-group">
									<input type="text" name="search" class="search-query form-control" placeholder="Tìm kiếm" />
									<span class="input-group-btn">
										<button class="btn btn-danger" type="submit">
											<span class=" glyphicon glyphicon-search"></span>
										</button>
									</span>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							@Html.DropDownList("filter", new SelectList(items, "Value", "Text"), new { @class = "form-control" })
						</div>
					}

				</div>
				<table class="table table-bordered table-hover table-condensed">
					<thead>
						<tr>
							<th>STT</th>
							<th>Tên suất ăn</th>
							<th>Ăn thêm</th>
							<th>Quản lý</th>
						</tr>
					</thead>
					<tbody>
						@{
							int count = 0;
						}
						@foreach (System.Data.DataRow row in Model.Rows)
						{
							count++;
							using (Html.BeginForm("DeleteMealSet", "MealSet", new { mealSetID = @row["MealSetID"] }, FormMethod.Post, new { id = @row["MealSetID"] }))
							{
								<tr>
									<td>@count</td>
									<td>@row["Name"]</td>
									@if (row["CanEatMore"].Equals(true))
									{
										<td><span style="color: #10CB10" class="glyphicon glyphicon-ok"></span></td>
									}
									else
									{
										<td><span style="color:red" class="glyphicon glyphicon-remove"></span></td>
									}
									<td>
										<div>
											<a href="@Url.Action("DetailMealSet", "MealSet", new {mealSetID = @row["MealSetID"] })" class="btn btn-info" title="Chi tiết"><span class="glyphicon glyphicon-info-sign"></span></a>
											<a href="@Url.Action("EditMealSet", "MealSet", new {mealSetID = @row["MealSetID"] })" class="btn btn-primary" title="Sửa"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="@Url.Action("AddMealSetDish", "MealSet", new { mealSetID = @row["MealSetID"] })" class="btn btn-success" title="Thêm món ăn"><span class="glyphicon glyphicon-plus"></span></a>
											<a href="javascript:document.getElementById('@row["MealSetID"]').submit()" onclick="return confirm('Bạn có chắc chắn muốn xóa suất ăn: @row["Name"]')" class="btn btn-danger" title="Xóa"><span class="glyphicon glyphicon-remove-sign"></span></a>

											@*<button class="btn btn-danger" title="Xóa"><span class="glyphicon glyphicon-remove-sign"></span></button>*@
										</div>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
			@*<div id="footer">
					<div>
						<nav>
							<ul class="pager">
								<li><a href="#">Previous</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</nav>
					</div>
				</div>*@
		</div>
	</fieldset>
</div>
