@model System.Data.DataTable
@{
	ViewBag.Title = "ListAnnounce";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	int count = 0;

	string deleteAnnounce = "";

	try
	{
		deleteAnnounce = Session["deleteAnnounce"].ToString();
		Session.Remove("deleteAnnounce");
	}
	catch (Exception ex)
	{
		deleteAnnounce = "";
	}
}

<script>
	var message = '@Html.Raw(deleteAnnounce)';
	if (message != '') {
		alert(message);
	}
</script>

<div class="container container-fix">
	<fieldset>
		<legend class="title">Quản lý tin tức</legend>
		<div style="width:100%; margin-bottom:20px;">
			<a href="@Url.Action("AddNewAnnounce", "Announce")" class="btn btn-primary">Đăng tin tức mới</a>
		</div>
		<table class="table table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th>STT</th>
					<th>Tiêu đề thông tin</th>
					<th>Thời gian đăng tin</th>
					<th>Thời gian cập nhật</th>
					<th>Quản lý</th>
				</tr>
			</thead>
			@foreach (System.Data.DataRow row in Model.Rows)
			{
				count++;
				<tr>
					<td>@count</td>
					<td>@row["Title"]</td>
					<td>@row["InsertedDate"]</td>
					<td>@row["LastUpdated"]</td>
					<td>
						<a href="@Url.Action("EditAnnounce", "Announce", new { @announceID = row["AnnouncementID"] })" class="btn btn-primary" title="Sửa"><span class="glyphicon glyphicon-pencil"></span></a>
						<a href="@Url.Action("DeleteAnnounce", "Announce", new { @announceID = row["AnnouncementID"] })" onclick="return confirm('Bạn có chắc chắn muốn xóa tin tức: @row["Title"]')" class="btn btn-danger" title="Sửa"><span class="glyphicon glyphicon-remove-sign"></span></a>
					</td>
				</tr>
			}
		</table>
	</fieldset>
</div>