@model CTMF_Website.Models.ServingTimeModel
@{
    ViewBag.Title = "AddNewServingTime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="addForm">
	<h2>Thêm thông tin mới</h2>
	<div class="container">
		@using (Html.BeginForm("AddNewServingTime", "Schedule", FormMethod.Post, new { @class = "form-horizontal" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true)
			<div class="form-group">
				@Html.LabelFor(m => m.name, new { @class = "control-label col-sm-2" })
				<div class="col-sm-5">
					@Html.TextBoxFor(m => m.name, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2">

				</div>
				<div class="col-sm-5">@Html.ValidationMessageFor(model => model.startTime, String.Empty, new { @style = "color:red" })</div>
			</div>
			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.startTime, new { @class = "control-label col-sm-2" })
				<div class="col-sm-5">
					@Html.TextBoxFor(m => m.startTime, new { @class = "form-control", @placeholder = "HH:MM"})
				</div>
			</div>
						<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.endTime, new { @class = "control-label col-sm-2" })
				<div class="col-sm-5">
					@Html.TextBoxFor(m => m.endTime, new { @class = "form-control", @placeholder = "HH:MM"})
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<input type="submit" class="btn btn-primary" value="Thêm mới">
				</div>
				<div class="col-sm-2">
					<a href="~/Schedule/ViewServingTime" class="btn btn-danger">Hủy</a>
				</div>
			</div>
		}
	</div>
</div>