@model System.Data.DataTable
@{
	bool isDayOn = ViewBag.isDayOn;
	ViewBag.Title = "ListSchedule";
}
<link href="~/CSS/table.css" rel="stylesheet" />
<script type="text/javascript">
	$(document).ready(function () {
		fillMealSetDdl($('#meal-set-ddl'));
		setCheckBoxEvent();
	});

	var mealSetVar = null;
	function fillMealSetDdl($ddl) {
		if (mealSetVar == null) {
			$.ajax({
				url: '@Url.Action("GetMeatSetForDDL", "Schedule")',
				tranditional: true,
				async: false,
				success: function (data) {
					if (data == 'error') {
						alert('Có lỗi khi lấy dữ liệu.');
						return false;
					}

					mealSetVar = data.mealSet;
				}
			});
		}

		for (i = 0; i < mealSetVar.length; i++) {
			$ddl.append($('<option></option>').attr('value', mealSetVar[i].MealSetID).text(mealSetVar[i].Name));
		}
	}

	function addScheduleMealSet() {
		var $mealSetDdl = $('#meal-set-ddl');
		var scheduleID = '@ViewBag.scheduleID';

		var isDayOn = false;
		if ($('#cbIsDayOn').is(':checked')) {
			isDayOn = true;
		}

		$.ajax({
			url: '@Url.Action("AddScheduleMealSet", "Schedule")',
			tranditional: true,
			data: { mealSetID: parseInt($mealSetDdl.val().toString()), scheduleID: parseInt(scheduleID.toString()), isDayOn: isDayOn },
			async: false,
			success: function (result) {
				if (result == 'error') {
					alert('Có lỗi khi thêm thực đơn.');
					return false;
				}

				if (result == 'duplicate') {
					alert('Thực đơn đã tồn tại, không thể thêm vào.');
					return false;
				}

				if (result.result == 'done') {
					location.reload(false);
				}
			}
		});
	}

	function removeMealSet(scheduleMealSetDetailID, name) {
		var r = confirm('Bạn muốn xóa thực đơn [' + name + '] ?');
		if (r == true) {
			$.ajax({
				url: '@Url.Action("RemoveScheduleMealSet", "Schedule")',
				tranditional: true,
				data: { scheduleMealSetDetailID: scheduleMealSetDetailID },
				async: false,
				success: function (result) {
					if (result == 'error') {
						alert('Có lỗi khi thêm thực đơn.');
						return false;
					}

					if (result.result == 'done') {
						location.reload(false);
					}
				}
			});
		}
	}

	function setCheckBoxEvent() {
		var $cb = $('#cbIsDayOn');

		$cb.change(function () {
			var isActive = true;
			var scheduleID = '@ViewBag.scheduleID';

			if ($cb.is(':checked')) {
			}
			else {
				var rowCount = $('#schedule-meal-set-table tbody').children('tr').length;
				var r = confirm('Nếu bạn đặt buổi này là buổi nghỉ\n'
					+ 'hệ thống sẽ tự động xóa hết thực đơn đang có dành cho nó.');
				if (r == true) {
					isActive = false;
				}
				else {
					$cb.prop('checked', true);
					return;
				}
			}

			$.ajax({
				url: '@Url.Action("SetIsDayOn", "Schedule")',
				tranditional: true,
				data: { isDayOn: isActive, scheduleID: scheduleID },
				async: false,
				success: function (result) {
					if (result == 'error') {
						alert('Có lỗi khi đặt lịch nghỉ.');
						return false;
					}

					if (result.result == 'done') {
						location.reload(false);
					}
				}
			})
		});
	}
</script>

<div class="container container-fix">
	<fieldset>
		<legend class="title">Cập nhật lịch ăn</legend>
		<div>
			Hoạt động : @Html.CheckBox("cbIsDayOn", isDayOn)
			<div class="row" id="add-meal-set-table-div" style="float: right;margin-bottom: 20px;">
				<select class="form-control col-md-1" id="meal-set-ddl" style="width: 250px;"></select> 
				<div class="col-md-1" id="add-meal-set-btn" ><a class="btn btn-primary" onclick="addScheduleMealSet()" >Thêm vào lịch</a></div>
			</div>
			<div id="meal-set-table-div" style="margin-bottom: 30px;">
				<table class="table table-bordered table-hover table-condensed" id="schedule-meal-set-table">
					<thead>
						<tr>
							<th width="5%">Mã</th>
							<th width="20%">Tên thực đơn</th>
							<th width="25%">Ảnh minh họa</th>
							<th width="40%">Mô tả</th>
							<th width="10%"></th>
						</tr>
					</thead>
					@{
						char ch = 'A';
					}
					@foreach (System.Data.DataRow row in Model.Rows)
					{
						if (string.IsNullOrWhiteSpace(row["MealSetID"].ToString()))
						{
							continue;
						}
						<tr>
							<td>@ch.ToString()</td>
							<td>@row["Name"] </td>
							<td>
								@if (string.IsNullOrEmpty(row["Image"].ToString()))
								{
									<img src="../Images/no-image.jpg" height="150px" width="150px">

								}
								else
								{
									<img src="..@row["Image"]" height="150px" width="150px">
								}
							</td>
							<td>@row["Description"]</td>
							<td><button class="btn btn-danger" title="Xóa" onclick="removeMealSet(@row["ScheduleMealSetDetailID"], '@row["Name"]')"><span class="glyphicon glyphicon-remove-sign"></span></button></td>
						</tr>
								ch += (char)1;
					}
				</table>
			</div>
			<a href="@Url.Action("ListSchedule", "Schedule")" class="btn btn-warning" style="margin-bottom: 20px;"><span class="glyphicon glyphicon-arrow-left"></span> Quay Lại</a>
		</div>
	</fieldset>
</div>
