@model System.Data.DataTable
@{
	ViewBag.Title = "ServingTime";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	int count = 0;
	string ID;

	string deleteServingTime = "";

	try
	{
		deleteServingTime = Session["deleteServingTime"].ToString();
		Session.Remove("deleteServingTime");
	}
	catch (Exception ex)
	{
		deleteServingTime = "";
	}
}

<script>
	var message = '@Html.Raw(deleteServingTime)';
	if (message != '') {
		alert(message);
	}
</script>

<link href="~/CSS/table.css" rel="stylesheet" />
<div class="container container-fix">
	<fieldset>
		<legend class="title">Quản lý thời gian phục vụ</legend>
		<div>
			<div class="table-body">
				<div style="margin-bottom:20px;">
					<a href="AddNewServingTime" class="btn btn-primary">Thêm thời gian phục vụ</a>
				</div>
				<table class="table table-bordered table-hover table-condensed">
					<thead>
						<tr>
							<th>STT</th>
							<th>Tên bữa ăn</th>
							<th>Thời gian bắt đầu</th>
							<th>Thời gian kết thúc</th>
							<th>Quản lý</th>
						</tr>
					</thead>
					<tbody>
						@foreach (System.Data.DataRow row in Model.Rows)
						{
							count++;
							ID = row["ServingTimeID"].ToString();
							<tr>
								<td>@count</td>
								<td>@row["Name"]</td>
								<td>@row["StartTime"]</td>
								<td>@row["EndTime"]</td>
								<td>
									<div>
										<a href="@Url.Action("EditServingTime", "Schedule", new { servingTimeID = ID })" class="btn btn-primary" title="Sửa"><span class="glyphicon glyphicon-pencil"></span></a>
										<a href="@Url.Action("DeleteServingTime", "Schedule", new { servingTimeID = ID })" onclick="return confirm('Bạn có chắc chắn muốn xóa thời gian phục vụ: @row["Name"]')" class="btn btn-danger" title="Xóa"><span class="glyphicon glyphicon-remove-sign"></span></a>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div id="footer">
				<div>
					<nav>
						<ul class="pager"></ul>
					</nav>
				</div>
			</div>
		</div>
	</fieldset>
</div>
