@using CTMF_Website.Models
@model DishViewModel
@{
	ViewBag.Title = "AddDish";
}
@{
	List<SelectListItem> items = (List<SelectListItem>)ViewData["DishType"];
	string checkRunTimes = ViewBag.CheckRunTimes;
}
<link href="~/Content/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Scripts/jquery.ui.widget.js"></script>
<script src="~/Scripts/jquery.fileupload.js"></script>
<style>
</style>
<script>
	$(document).ready(function () {
		$('#file-upload').fileupload({
			dataType: 'json',
			url: '@Url.Action("UploadImage", "Dish")',
			autoUpload: true,
			done: function (e, data) {
				document.getElementById("dish-img").src = ".." + data.result.fileName;
				$('#pathImage').val(data.result.fileName);
			}
		});
	});
</script>

<div class="container container-fix" style="width: 75% !important;">

	@using (Html.BeginForm("AddDish", "Dish", FormMethod.Post, new { @class = "form-horizontal" }))
	{
		<fieldset>
			<legend class="title">Thêm món ăn mới</legend>
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, String.Empty, new { @style = "color:red" })
			<div class="form-group">
				<div class="col-md-4">

				</div>
				<div class="col-sm-5">
					@if (checkRunTimes == "1")
					{
						<img id="dish-img" style="width:300px;" />
					}
					else
					{
						if (!string.IsNullOrEmpty(Model.Image))
						{
							<img id="dish-img" src="..@Model.Image" style="width:300px;" />
						}
						else
						{
							<img id="dish-img" style="width:300px;" />
						}
					}
				</div>
			</div>
			<div class="form-group" style="margin-top: 20px">
				@Html.HiddenFor(m => m.Image, new { id = "pathImage" })
				@Html.LabelFor(m => m.Image, new { @class = "col-md-4 control-label" })
				<div class="col-sm-5">
					<span class="btn btn-success fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>Chọn ảnh</span>
						<input id="file-upload" type="file" name="files" />
					</span>
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.DishTypeID, new { @class = "control-label col-md-4" })
				<div class="col-md-3">
					@Html.DropDownListFor(m => m.DishTypeID, new SelectList(items, "Value", "Text"), new { @class = "form-control"})
				</div>
			</div>
			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.Dishname, new { @class = "control-label col-md-4" })
				<div class="col-md-4">
					@Html.TextBoxFor(m => m.Dishname, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-4">

				</div>
				<div class="col-md-4">@Html.ValidationMessageFor(model => model.Dishname, String.Empty, new { @style = "color:red" })</div>
			</div>
			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.Description, new { @class = "control-label col-md-4" })
				<div class="col-md-6">
					@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-2">
					<button type="submit" class="btn btn-primary">Thêm món</button>
				</div>
				<div class="col-md-2">
					<a href="~/Dish/ListDish" class="btn btn-danger">Hủy</a>
				</div>
			</div>
		</fieldset>
	}

</div>
