@model System.Data.DataTable
@{
	ViewBag.Title = "ListDish";
}
<link href="~/CSS/table.css" rel="stylesheet" />

<div class="container container-fix">
	<fieldset>
		<legend class="title">Quản lý món ăn</legend>
		<div class="table-body">
			<div style="margin-bottom:20px;">
				<a href="~/Dish/AddDish" class="btn btn-primary">Thêm món ăn mới</a>
				<div class="pull-right">
					@using (Html.BeginForm("ListDish", "Dish", FormMethod.Get))
					{
						<div id="custom-search-input">
							<div class="input-group">
								<input type="text" name="search" class="search-query form-control" placeholder="Tìm kiếm" />
								<span class="input-group-btn">
									<button class="btn btn-danger" type="submit">
										<span class=" glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
						</div>
					}
				</div>
			</div>
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>STT</th>
						<th>Tên món ăn</th>
						<th>Loại món ăn</th>
						<th>Quản lý</th>
					</tr>
				</thead>
				<tbody>
					@{
						int count = 0;
					}
					@foreach (System.Data.DataRow row in Model.Rows)
					{
						count++;
						<tr>
							<td>@count</td>
							<td>@row["Name"]</td>
							<td>@row["TypeName"]</td>
							<td>
								<div class="">
									<button class="btn btn-info" title="Chi tiết"><span class="glyphicon glyphicon-info-sign"></span></button>
									<a href="@Url.Action("EditDish", "Dish", new {dishID = @row["DishID"] })" class="btn btn-primary" title="Sửa"><span class="glyphicon glyphicon-pencil"></span></a>
									<button class="btn btn-danger" title="Xóa"><span class="glyphicon glyphicon-remove-sign"></span></button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div id="footer">
			<div>
				<nav>
					<ul class="pager">
						<li><a href="#">Previous</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</fieldset>
</div>
