@using CTMF_Website.Models
@model System.Data.DataTable
@{
	ViewBag.Title = "ViewDish";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ekko-lightbox.js"></script>

@{
	System.Data.DataTable dishType = (System.Data.DataTable)ViewData["DishType"];
	string notExistDish = ViewBag.notExistMealSet;
}

<script>
	$(document).ready(function () {
		var notExist = '@(notExistDish)';
		if (notExist != '') {
			alert('@Html.Raw(notExistDish)');
		}

		//$('i.glyphicon-thumbs-up, i.glyphicon-thumbs-down').click(function () {
		//	var $this = $(this),
		//	c = $this.data('count');
		//	if (!c) c = 0;
		//	c++;
		//	$this.data('count', c);
		//	$('#' + this.id + '-bs3').html(c);
		//});
		$(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
			event.preventDefault();
			$(this).ekkoLightbox();
		});
	});


	$(function () {
		var formTop = $('.sticky').offset().top;
		$(window).scroll(function () {

			var windowTop = $(window).scrollTop() + 100;
			var formWidth = $('.sticky').width();
			var fluidVal = (formWidth / $(window).width()) * 100;

			if (formTop < windowTop) {
				$('.formwrap').css({
					position: 'fixed',
					top: 100,
					width: fluidVal + "%",
				});
			} else {
				$('.formwrap').css({
					position: 'static',
					width: '100%',
				});
			}
		});
	});

</script>

<div class="container" style="width: 90% !important; margin-top:50px;">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				@foreach (System.Data.DataRow row in Model.Rows)
				{
					<div class="col-sm-4">
						<div class="panel panel-default">
							<div class="panel-body">
								@if (string.IsNullOrEmpty(row["Image"].ToString()))
								{
									<a href="~/Images/no-image.jpg" class="zoom" data-title="@row["Name"]" data-footer="@row["Description"]" data-type="image" data-toggle="lightbox">
										<img src="~/Images/no-image.jpg" />
									</a>
								}
								else
								{
									<a href="..@row["Image"]" class="zoom" data-title="@row["Name"]" data-footer="@row["Description"]" data-type="image" data-toggle="lightbox">
										<img src="..@row["Image"]" />
									</a>
								}
							</div>
							<div class="panel-footer">
								<h4>@row["Name"]</h4>
							</div>
						</div>
					</div>
				}
			</div>
		</div>

		<div class="col-md-3 sticky" style="text-align: center;">
			<div class="list-group formwrap">
				<div class="list-group-item">
					@using (Html.BeginForm("ViewDish", "Dish", FormMethod.Get))
					{
						<div id="custom-search-input">
							<div class="input-group">
								<input type="text" name="search" class="search-query form-control" placeholder="Tìm kiếm" />
								<span class="input-group-btn">
									<button class="btn btn-danger" type="submit">
										<span class=" glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
						</div>
					}
				</div>
				<a href="@Url.Action("ViewDish", "Dish")" class="list-group-item">
					Danh sách món ăn
				</a>
				@foreach (System.Data.DataRow row in dishType.Rows)
				{
					<a href="@Url.Action("ViewDish", "Dish", new { filter = @row["DishTypeID"] })" class="list-group-item">
						@row["TypeName"]
					</a>
				}
			</div>
		</div>
	</div>
</div>
