@using CTMF_Website.Models
@model System.Data.DataTable
@{
	ViewBag.Title = "ViewDish";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
<div id="banner" style="width:100%; height:200px;background-color:#f5f5f5">

</div>
<div id="sub-menu">
	<nav id="sub-navbar" class="navbar navbar-inverse">
		<div class="container">
			<div id="search" class="pull-left">
				@using (Html.BeginForm("ViewDish", "Dish", FormMethod.Get))
				{
					<div class="input-group">

						<span class="input-group-btn">
							<button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
						</span>
						<input type="text" class="form-control" id="strSearch" name="search" placeholder="Tìm kiếm" style="min-width:300px;">
						@*@Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Tìm kiếm", @style = "min-width:300px; margin-bottom:10px;" })*@
					</div>
				}
			</div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#SubNavbar" style="color:#888;">MENU</button>
			</div>
			<div class="collapse navbar-collapse" id="SubNavbar">
				<ul id="sub-menu" class="nav navbar-nav navbar-right">
					<li>
						@Html.ActionLink(
									linkText: "Món chính",
									actionName: "ViewDish",
									controllerName: "Dish",
									routeValues: new
									{
										filter = "1"
									},
									htmlAttributes: null
								)
					</li>
					<li>
						@Html.ActionLink(
									linkText: "Món rau",
									actionName: "ViewDish",
									controllerName: "Dish",
									routeValues: new
									{
										filter = "2"
									},
									htmlAttributes: null
								)
					</li>
					<li>
						@Html.ActionLink(
									linkText: "Tráng miệng",
									actionName: "ViewDish",
									controllerName: "Dish",
									routeValues: new
									{
										filter = "3"
									},
									htmlAttributes: null
								)
					</li>
					<li>
						@Html.ActionLink(
									linkText: "Đặc biệt",
									actionName: "ViewDish",
									controllerName: "Dish",
									routeValues: new
									{
										filter = "4"
									},
									htmlAttributes: null
								)
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="container text-center">
	<div id="list-dish" style="width: 80%; margin: auto; background-color: #fff; opacity: 0.9; box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);border-radius: 7px;">
		<div class="row">
			@foreach (System.Data.DataRow row in Model.Rows)
			{
				<div class="col-sm-4 dish">
					<div id="dish-name" class="text-center" style="font-size:25px"><strong>@row["Name"]</strong></div>
					<a data-toggle="tooltip" data-placement="bottom" title="@row["Description"]">
						<img src="~/Images/no-image.jpg" class="dish-img">
					</a>
				</div>
			}
		</div>
	</div>
</div>
