@model CTMF_Website.Models.ChangePassword

@{
	ViewBag.Title = "ChangePassword";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/md5.js"></script>

<script>
	function GeneratePwd() {
		if ($("#id_new_password").val() !== "" && $("#id_new_password_confirm").val() !== "" && $("#id_old_password").val() !== "") {
			$("#id_old_password").val(hex_md5($("#id_old_password").val()));
			$("#id_new_password").val(hex_md5($("#id_register_password").val()));
			$("#id_new_password_confirm").val(hex_md5($("#id_new_password_confirm").val()));
		}
		return true;
	}
</script>

<div class="container container-fix" style="width: 75% !important">
	@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
	{
		@*<form class="form-horizontal" role="form" method="post" onsubmit="return GeneratePwd()" action="/Account/ChangePassword">*@
		<fieldset>
			<legend class="title">Đổi mật khẩu</legend>
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, String.Empty, new { @style = "color:red" })
			<div class="form-group" style="margin-top: 20px">
				@Html.LabelFor(m => m.OldPassword, new { @class = "control-label col-md-4" })
				<div class="col-md-4">
					@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @id = "id_old_password" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-4">

				</div>
				<div class="col-md-4">@Html.ValidationMessageFor(model => model.OldPassword, String.Empty, new { @style = "color:red" })</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Password, new { @class = "control-label col-md-4" })
				<div class="col-md-4">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "id_new_password" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-4">

				</div>
				<div class="col-md-4">@Html.ValidationMessageFor(model => model.Password, String.Empty, new { @style = "color:red" })</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-md-4" })
				<div class="col-md-4">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "id_new_password_confirm" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-4">

				</div>
				<div class="col-md-4">@Html.ValidationMessageFor(model => model.ConfirmPassword, String.Empty, new { @style = "color:red" })</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-2">
					<input type="submit" class="btn btn-primary" value="Đổi mật khẩu">
				</div>
				<div class="col-sm-2">
					<a href="@Url.Action("HomePage","Home")" class="btn btn-danger">Hủy</a>
				</div>
			</div>
		</fieldset>
		@*</form>*@
	}
</div>
