@model CTMF_Website.Models.UserTypeModel
@{
    ViewBag.Title = "DetailsUserType";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Type Details</h2>
<div id="list-announcement" style="width: 80%; margin: auto; background-color: #fff;box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);border-radius: 7px;">
	<div class="display-label">
		Tên viết tắt:
		@Html.DisplayText("TypeShortName")
	</div>
	<div class="display-label">
		Tên đầy đủ:
		@Html.DisplayText("TypeName")
	</div>
	<div class="display-label">
		Giá trị bữa ăn quy định:
		@Html.DisplayText("MealValue")
	</div>
	<div class="display-label">
		Giá trị phần ăn thêm:
		@Html.DisplayText("MoreMealValue")
	</div>
	<div class="display-label">
		Mô tả chi tiết:
		@Html.DisplayText("Description")
	</div>
	<div class="display-label">
		Có thể sử dụng tín dụng nợ hay không:
		@Html.Display("CanDebt")
	</div>
	<div class="display-label">
		Có thể sử dụng phần ăn thêm hay không:
		@Html.Display("CanEatMore")
	</div>
	<a href="@Url.Action("EditUserType", "Account", new { userTypeShortName = Model.typeShortName })" class="btn btn-primary" title="Sửa"><span class="glyphicon glyphicon-pencil"></span></a>
</div>
