@model System.Data.DataTable
@{
	ViewBag.Title = "ListUser";

	int maxPage = ViewBag.maxPage;
	int curPage = ViewBag.curPage;
	int amountPerPage = ViewBag.amountPerPage;
}
<script type="text/javascript">
	$(document).ready(function () {
		var selectedActive = '@(Request.QueryString["active"])';

		if (selectedActive != '') {
			$('#ddlActive option[value=' + selectedActive + ']').attr('selected', 'selected');
		}

		var maxPage = '@(maxPage)';
		var curPage = '@(Request.QueryString["page"])';
		maxPage = parseInt(maxPage);
		for (i = 1; i <= maxPage; i++) {
			if (curPage == i) {
				$('#ddlPageSelect').append($('<option></option>').attr({ 'value': i, 'selected': 'selected' }).text(i));
			} else {
				$('#ddlPageSelect').append($('<option></option>').attr('value', i).text(i));
			}
		}

		$('#btnGo').click(function () {
			var page = $('#ddlPageSelect').val();

			var selectedPage = '@(Request.QueryString["page"])';
			var curHref = window.location.href;

			if (selectedPage == '') {
				var queryCount = '@(Request.QueryString.Count)';
				if (queryCount == 0) {
					curHref += '?page=' + page;
				} else {
					curHref += '&page=' + page;
				}
			}
			else {
				curHref = curHref.replace('&page=' + selectedPage, '&page=' + page);
				curHref = curHref.replace('?page=' + selectedPage, '?page=' + page);
			}

			window.location.href = curHref;
		});
	});
</script>
<link href="~/CSS/table.css" rel="stylesheet" />
<div class="container container-fix">
	<fieldset>
		<legend class="title">Quản lý người dùng</legend>
		<div style="width:100%; margin-bottom:20px;">
			<a href="~/Account/ViewUserType" class="btn btn-default">Quản lý loại người dùng</a>
		</div>
		<div style="margin-bottom: 20px;">
			<div class="row">
				@using (Html.BeginForm("ListUser", "Account", FormMethod.Get))
				{
					<input type="hidden" name="amountPerPage" value="@Request.QueryString["amountPerPage"]" />

					<div class="col-md-2">
						<input type="text" class="form-control" name="username" placeholder="Tên đăng nhập" style="max-width:300px;" value="@Request.QueryString["username"]">
					</div>

					<div class="col-md-2">
						<input type="text" class="form-control" name="name" placeholder="Tên người dùng" style="max-width:300px;" value="@Request.QueryString["name"]">
					</div>

					<div class="col-md-2" style="max-width:250px;">
						<select class="form-control" id="ddlUserType" name="userType">
							<option value="">Tất cả</option>
							@foreach (KeyValuePair<string, string> pair in (List<KeyValuePair<string, string>>)ViewBag.userTypes)
							{
								if (pair.Key == Request.QueryString["userType"])
								{
									<option value="@pair.Key" selected>@pair.Value</option>
								}
								else
								{
									<option value="@pair.Key">@pair.Value</option>
								}
							}
						</select>
					</div>

					<div class="col-md-2" style="max-width:250px;">
						<select class="form-control" id="ddlRole" name="role">
							<option value="">Tất cả</option>
							@foreach (KeyValuePair<int, string> pair in (List<KeyValuePair<int, string>>)ViewBag.roleList)
							{
								if (pair.Key.ToString() == Request.QueryString["role"])
								{
									<option value="@pair.Key" selected>@pair.Value</option>
								}
								else
								{
									<option value="@pair.Key">@pair.Value</option>
								}
							}
						</select>
					</div>
					<div class="col-md-2" style="max-width:250px;">
						<select class="form-control" id="ddlActive" name="active">
							<option value="">Tất cả</option>
							<option value="0">Chưa kích hoạt</option>
							<option value="1">Đã kích hoạt</option>
						</select>
					</div>

					<div class="col-md-1">
						<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
					</div>
				}
			</div>
		</div>
		<table class="table table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th style="width:5%">STT</th>
					<th>Tên đăng nhập</th>
					<th>Tên người dùng</th>
					<th>Loại người dùng</th>
					<th>Vai trò</th>
					<th>Kích hoạt</th>
					<th style="width:15%">Quản lý</th>
				</tr>
			</thead>
			<tbody>
				@{
					string page = Request.QueryString["page"];
					string nextUrl, prevUrl;
					if (String.IsNullOrWhiteSpace(page))
					{
						if (Request.QueryString.Count == 0)
						{
							nextUrl = Request.Url.ToString() + "?page=2";
							prevUrl = "#";
						}
						else
						{
							nextUrl = Request.Url.ToString() + "&page=2";
							prevUrl = "#";
						}
					}
					else
					{
						int page_;
						if (!int.TryParse(page, out page_))
						{
							nextUrl = Request.Url.ToString() + "&page=2";
							prevUrl = "#";
						}
						else
						{
							if (Request.Url.ToString().Contains("&page=" + page))
							{
								nextUrl = Request.Url.ToString().Replace("&page=" + page, "&page=" + (page_ + 1));
								prevUrl = Request.Url.ToString().Replace("&page=" + page, "&page=" + (page_ - 1));
							}
							else
							{
								nextUrl = Request.Url.ToString().Replace("?page=" + page, "?page=" + (page_ + 1));
								prevUrl = Request.Url.ToString().Replace("?page=" + page, "?page=" + (page_ - 1));
							}
						}
					}
				}
				@foreach (System.Data.DataRow row in Model.Rows)
				{
					string role = CTMF_Website.Util.AccountInfo.GetRoleNameVnese((int)row["Role"]);
					<tr>
						<td>@row["RowNum"]</td>
						<td>@row["Username"]</td>
						<td>@row["Name"]</td>
						<td>@row["TypeName"]</td>
						<td>@role</td>
						@if (row["IsActive"].Equals(true))
						{
							<td><span style="color: #10CB10" class="glyphicon glyphicon-ok"></span></td>
						}
						else
						{
							<td><span style="color:red" class="glyphicon glyphicon-remove"></span></td>
						}
						<td>
							<div>
								<a href="@Url.Action("DetailUser", "Account", new {Username = @row["Username"] })" class="btn btn-info" title="Chi tiết"><span class="glyphicon glyphicon-info-sign"></span></a>
								<a href="@Url.Action("EditUser", "Account", new {Username = @row["Username"] })" class="btn btn-primary" title="Sửa"><span class="glyphicon glyphicon-pencil"></span></a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
		<div id="footer">
			<div>
				<nav>
					<ul class="pager">
						@if (maxPage != 0 && curPage != 1)
						{
							<li><a href="@prevUrl">Trước</a></li>
						}
						@if (curPage != maxPage)
						{
							<li><a href="@nextUrl">Sau</a></li>
						}
					</ul>
				</nav>
			</div>
			<div style="margin-bottom:20px;">
				Đi đến trang :
				<select id="ddlPageSelect"></select>
				/ @maxPage
				<a class="btn btn-primary" id="btnGo">Đi</a>
			</div>
		</div>
	</fieldset>
</div>
