@model System.Data.DataTable
@{
    ViewBag.Title = "ViewUserType";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	int count = 0;
	string _typeShortName;
}

<link href="~/CSS/table.css" rel="stylesheet" />
<div class="container" style="background-color: #fff;box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);border-radius: 7px;">
	<legend class="table-title">Quản lý phân loại người sử dụng</legend>
	<div>
		<div class="table-body">
			<div style="margin-bottom:20px;">
			</div>
			<tr><a href="AddNewUserType" class="btn btn-primary">Thêm phân loại người sử dụng mới</a></tr>
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>STT</th>
						<th>Tên phân loại người sử dụng </th>
						<th>Tên viết tắt</th>
						<th>Số tiền ăn mỗi bữa quy định</th>
						<th>Số tiền ăn thêm mỗi bữa</th>
						<th>Mô tả chi tiết</th>
						<th>Có thể sử dụng tín dụng nợ</th>
						<th>Có thể sử dụng vé ăn thêm</th>
					</tr>
				</thead>
				<tbody>
					@foreach (System.Data.DataRow row in Model.Rows)
					{
						count++;
						_typeShortName = row["TypeShortName"].ToString();
						<tr>
							<td>@count</td>
							<td>@row["TypeName"]</td>
							<td>@row["TypeShortName"]</td>
							<td>@row["MealValue"]</td>
							<td>@row["MoreMealValue"]</td>
							<td>@row["Description"]</td>
							<td>@row["CanDebt"]</td>
							<td>@row["CanEatMore"]</td>
							<td>
								<div>
									<a href="@Url.Action("DetailsUserType", "Account", new { typeShortName = _typeShortName })" class="btn btn-primary" title="Chi tiết"><span class="glyphicon glyphicon-info-sign"></span></a>
									<a href="@Url.Action("EditUserType", "Account", new { typeShortName = _typeShortName })" class="btn btn-primary" title="Sửa"><span class="glyphicon glyphicon-pencil"></span></a>
									<a href="@Url.Action("DeleteUserType", "Account", new { typeShortName = _typeShortName })" class="btn btn-danger" title="Xóa"><span class="glyphicon glyphicon-remove-sign"></span></a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div id="footer">
			<div>
				<nav>
					<ul class="pager"></ul>
				</nav>
			</div>
		</div>
	</div>
</div>

